In [ ]:
# Библиотека Seaborn
# создавать графики более высокого уровня с эстетичным оформлением
# http://seaborn.pydata.org/index.html

In [1]:
import seaborn as sns
print(sns.__version__)

0.11.2

In [ ]:
# метод isin()
# Series.isin(values)
# Для фильтрации по списку значений
# проверяет, есть ли запись в столбце в переданном в метод списке. 
# В результате возвращается привычная нам маска.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isin.html

In [2]:
import pandas as pd
covid_df = pd.read_csv('data/covid_df.csv')
covid_df['date'] = pd.to_datetime(covid_df['date'])
display(covid_df.head(3))
covid_df['date']

,Unnamed: 0,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines,death_rate,recover_rate
0,0,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,1,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,2,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

0       2020-02-24
1       2020-02-25
2       2020-02-26
3       2020-02-27
4       2020-02-28
           ...
86780   2020-03-12
86781   2020-03-14
86782   2020-03-15
86783   2020-03-16
86784   2020-03-17
Name: date, Length: 86785, dtype: datetime64[ns]

In [6]:
# будем сравнивать несколько стран: Россию, Австралию, Германию, Канаду и Великобританию. 
# Создадим специальный DataFrame croped_covid_df для этих данных
# добавим информацию о населении стран, чтобы рассчитать ежедневную заболеваемость на 100 человек — заболеваемость в процентах от общего количества населения (daily_confirmed_per_hundred)
countries = ['Russia', 'Australia', 'Germany', 'Canada', 'United Kingdom'] # making a new independent list for the further work
croped_covid_df = covid_df[covid_df['country'].isin(countries)] # filter list with the table column 'country' = mask
# display(croped_covid_df)

# добавим информацию о населении стран
populations = pd.DataFrame([
    ['Canada', 37664517],
    ['Germany', 83721496],
    ['Russia', 145975300],
    ['Australia', 25726900],
    ['United Kingdom', 67802690]
    ],
    columns=['country', 'population']
)
# display(populations)

          country  population
0          Canada    37664517
1         Germany    83721496
2          Russia   145975300
3       Australia    25726900
4  United Kingdom    67802690

In [10]:
# merge croped_covid_df and populations on country
croped_covid_df = croped_covid_df.merge(populations, on = 'country')
display(croped_covid_df.head(2))

,Unnamed: 0,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered,...,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines,death_rate,recover_rate,population_x,population_y,population
0,3616,2020-01-23,Australia,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25726900,25726900,25726900
1,3617,2020-01-25,Australia,4.0,0.0,0.0,4.0,4.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,25726900,25726900,25726900

In [11]:
# creating a new data for 'daily_confirmed_per_hundred' as a column with the population calculation
croped_covid_df['daily_confirmed_per_hundred'] = croped_covid_df['daily_confirmed'] / croped_covid_df['population']*100
croped_covid_df.head()

,Unnamed: 0,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered,...,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines,death_rate,recover_rate,population_x,population_y,population,daily_confirmed_per_hundred
0,3616,2020-01-23,Australia,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25726900,25726900,25726900,NaN
1,3617,2020-01-25,Australia,4.0,0.0,0.0,4.0,4.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,25726900,25726900,25726900,0.000016
2,3618,2020-01-26,Australia,4.0,0.0,0.0,4.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,25726900,25726900,25726900,0.000000
3,3619,2020-01-27,Australia,5.0,0.0,0.0,5.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,25726900,25726900,25726900,0.000004
4,3620,2020-01-28,Australia,5.0,0.0,0.0,5.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,25726900,25726900,25726900,0.000000

In [ ]:
# метод histplot()
# гистограмма