In [ ]:
# МОДАЛЬНОЕ ЗНАЧЕНИЕ
# метод mode()
# показатель моды — самого распространённого значения в столбце
# возвращает не одно число, а серию
# The mode of a set of values is the value that appears most often. It can be multiple values

In [ ]:
# DataFrame.mode(axis=0, numeric_only=False, dropna=True)[source]
# Parameters
# axis{0 or ‘index’, 1 or ‘columns’}, default 0
# The axis to iterate over while searching for the mode:
# 0 or ‘index’ : get mode of each column
# 1 or ‘columns’ : get mode of each row.
# numeric_only: bool, default False
# If True, only apply to numeric columns.
# dropna : bool, default True
# Don’t consider counts of NaN/NaT.
# Returns
# DataFrame
# The modes of each column or row

In [1]:
import pandas as pd
# melb_data.to_csv('data/melb_data.csv', index=False, sep=';')
data = pd.read_csv('data/melb_data.csv', sep = ';')
#display(data)

# Вычислим, какое число комнат чаще всего представлено на рынке недвижимости
data['Rooms'].mode()

0    3
Name: Rooms, dtype: int64

In [2]:
# найти наиболее распространённое название района
data['Regionname'].mode()

0    Southern Metropolitan
Name: Regionname, dtype: object

In [9]:
data['Rooms'].mode(dropna=True)

0    3
Name: Rooms, dtype: int64

In [12]:
import pandas as pd
import numpy as np
df = pd.DataFrame([('bird', 2, 2),
                   ('mammal', 4, np.nan),
                   ('arthropod', 8, 0),
                   ('bird', 2, np.nan)],
                  index=('falcon', 'horse', 'spider', 'ostrich'),
                  columns=('species', 'legs', 'wings'))
df

           species  legs  wings
falcon        bird     2    2.0
horse       mammal     4    NaN
spider   arthropod     8    0.0
ostrich       bird     2    NaN

In [13]:
df.mode() # appears most often

  species  legs  wings
0    bird   2.0    0.0
1     NaN   NaN    2.0

In [16]:
df.mode(dropna=False)
# Setting dropna=False NaN values are considered and they can be the mode (like for wings)

  species  legs  wings
0    bird     2    NaN

In [17]:
# Setting numeric_only=True, only the mode of numeric columns is computed, and columns of other types are ignored.
df.mode(numeric_only=True)

   legs  wings
0   2.0    0.0
1   NaN    2.0

In [23]:
# To compute the mode over columns and not rows, use the axis parameter:
df.mode(axis='columns', numeric_only=True)

           0    1
falcon   2.0  NaN
horse    4.0  NaN
spider   0.0  8.0
ostrich  2.0  NaN