In [ ]:
# Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.
# https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv
# сделайте преобразование времени к формату datetime

In [12]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
display(data.head())

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [13]:
data['Time'] = pd.to_datetime(data.Time)
display(data['Time'])

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [14]:
# В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?
data['Time'].dt.year.mode()[0]

1999

In [20]:
# Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).
# Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.
# Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод diff().
# Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days.
data['Date'] = data['Time'].dt.date # создать дополнительный столбец с датой Date, выделив атрибут datetime
# необходимо произвести фильтрацию и отобрать из данных только штат Невада (df['State']=='NV']['Date'])
# В отфильтрованных данных нужно вычислить разницу между двумя последовательными наблюдениями с помощью метода diff() и посчитать среднее количество дней между двумя наблюдениями.
print(data[data['State'] == 'NV']['Date'].diff().dt.days.mean())
print(data[data['State'] == 'NY']['Date'].diff().dt.days.max())
print(data['City'].mode()[0])
print(data['State'].mode()[0])

68.92932862190813
4648.0
Seattle
CA