***Pandas.DataFrame***
табличное представление данных
DataFrame является двумерной структурой и представляется в виде таблицы, в которой есть строки и столбцы: столбцами в DataFrame выступают объекты Series, а строки формируются из их элементов. 
Также в DataFrame есть метки (индексы), которые соответствуют каждой строке таблицы.
столбец таблицы == признак

DataFrame создаётся с помощью функции pd.DataFrame()

In [3]:
# СПОСОБ 1
# Самый простой способ создания DataFrame — из словаря, ключами которого являются имена столбцов будущей таблицы, а значениями — списки, в которых хранится содержимое этих столбцов

import pandas as pd
counties_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
display('Countries info', counties_df)

'Countries info'

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [4]:
counties_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display('Countries info', counties_df)

'Countries info'

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [7]:
# СПОСОБ 2
# Также DataFrame можно создать из вложенного списка, внутренние списки которого будут являться строками новой таблицы
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns = ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display('Countries infor', countries_df) 
# мы задаём имена столбцов в списке с помощью параметра columns, а также инициализируем параметр index для задания меток стран.

'Countries infor'

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [ ]:
# уметь указывать направление работы метода
# вводится понятие axis (ось, координата)
# по строкам в таблице обозначается axis с индексом 0, а движение по столбцам — axis с индексом 1.

In [8]:
# Считаем среднее по строкам (axis = 0) в каждом столбце:
print(countries_df.mean(axis=0))
# В данном случае среднее было рассчитано по строкам для столбцов population и square.

population    9.070000e+01
square        5.800860e+06
dtype: float64

C:\Users\user\AppData\Local\Temp/ipykernel_5176/2725353009.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(countries_df.mean(axis=0))

In [9]:
# Считаем среднее по столбцам (axis = 1) в каждой строке:
print(countries_df.mean(axis=1))
# Здесь среднее было рассчитано по числовым столбцам для каждой строки в таблице

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

C:\Users\user\AppData\Local\Temp/ipykernel_5176/32499283.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(countries_df.mean(axis=1))

#### ДОСТУП К ДАННЫМ В DATAFRAME

In [10]:
# Доступ к столбцу можно получить разными способами
# Можно обратиться к DataFrame по имени столбца через точку
countries_df.population
# когда имя столбца указано без пробелов

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [11]:
# обратиться к DataFrame по индексу и указать имя столбца
countries_df['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [12]:
# чтобы получить доступ к ячейкам таблицы, используются уже знакомые нам loc и iloc.
# первым индексом указывается индекс (порядковый номер), соответствующий строкам, а вторым — имя (порядковый номер) столбца.
countries_df.loc['UK', 'square']

133396

In [13]:
countries_df.loc['RU',['population', 'square']]

population      146.24
square        17125191
Name: RU, dtype: object

In [14]:
countries_df.loc[['RU', 'BY', 'KZ'],['population','square']]

    population    square
RU      146.24  17125191
BY        9.50    207600
KZ       17.04   2724902

In [20]:
countries_df.iloc[3:8, 1:3]

    population    square
RU      146.24  17125191
UA       45.50    603628
BY        9.50    207600
KZ       17.04   2724902