In [ ]:
# Pandas.DataFrame_Practice

In [9]:
import pandas as pd
table = pd.DataFrame([[0,1],[1,0]], columns=['A', 'B'])
table

   A  B
0  0  1
1  1  0

In [4]:
table2 = pd.DataFrame({'A':[0,1], 'B':[1,0]})
display(table2)

   A  B
0  0  1
1  1  0

In [16]:
# задача — проанализировать чистую прибыль(разница между расходами и доходами компании за определённый год)
# 1) Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame, составленный из входных данных со столбцами Income и Expenses и индексами, соответствующими годам рассматриваемого периода
# 2) напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year. Учтите, что если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть None.
def create_companyDF(income, expenses, years):
    df = pd.DataFrame({'income': income, 'expenses': expenses}, index=years)
    return df
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
display('create_companyDF', create_companyDF(income, expenses, years))

def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'income']-df.loc[year, 'expenses']
    else:
        profit = None
    return profit
net_profit = create_companyDF(income, expenses, years)
print('net_profit - разница между доходом и расходом 2020: ', get_profit(net_profit, 2020))

'create_companyDF'

      income  expenses
2018     478       156
2019     512       130
2020     196       270

net_profit - разница между доходом и расходом 2020:  -74