In [ ]:
# ПОЛУЧЕНИЕ ОПИСАТЕЛЬНОЙ СТАТИСТИКИ
# Часто при работе с таблицей нужно быстро посмотреть на основные статистические свойства её столбцов
#  DataFrame describe()

In [1]:
import pandas as pd
# melb_data.to_csv('data/melb_data.csv', index=False, sep=';')
data = pd.read_csv('data/melb_data.csv', sep = ';')
#display(data)
data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [ ]:
# параметр include 
# можно указать тип данных, для которого нужно вывести описательную информацию
# для типа данных object метод describe() возвращает DataFrame, в котором указаны:
##	количество непустых строк (count);
##	количество уникальных значений (unique);
##	самое частое значение — мода —  (top);
##	частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.

In [2]:
# для типа данных object 
import pandas as pd
# melb_data.to_csv('data/melb_data.csv', index=False, sep=';')
data = pd.read_csv('data/melb_data.csv', sep = ';')
#display(data)

data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13479
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8035 , 1..."
freq,359,3,9449,9022,1565,473,1163,4695,5

In [3]:
data.describe(include=['int64'])

              index         Rooms      Postcode
count  13580.000000  13580.000000  13580.000000
mean    6789.500000      2.937997   3105.301915
std     3920.352663      0.955748     90.676964
min        0.000000      1.000000   3000.000000
25%     3394.750000      2.000000   3044.000000
50%     6789.500000      3.000000   3084.000000
75%    10184.250000      3.000000   3148.000000
max    13579.000000     10.000000   3977.000000

In [4]:
data.describe(include=['float64'])

,Price,Distance,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,1.075684e+06,10.137776,2.914728,1.534242,1.611856,558.416127,139.633972,1966.788218,-37.809203,144.995216,7454.417378
std,6.393107e+05,5.868725,0.965921,0.691712,0.960793,3990.669241,392.217403,29.088642,0.079260,0.103916,4378.581772
min,8.500000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,6.500000e+05,6.100000,2.000000,1.000000,1.000000,177.000000,122.000000,1960.000000,-37.856822,144.929600,4380.000000
50%,9.030000e+05,9.200000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,1.330000e+06,13.000000,3.000000,2.000000,2.000000,651.000000,129.940000,1975.000000,-37.756400,145.058305,10331.000000
max,9.000000e+06,48.100000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [11]:
data.describe(exclude=['object','Car'])

TypeError: data type 'Car' not understood